@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

body {
  font-family: var(--font-poppins);
}

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EFF2FC;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2642D9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2035ae;
}
